In [2]:
import json
import os
import sys
import random

import pandas as pd
from tqdm import tqdm

In [3]:
# %load_ext autoreload
# %autoreload 2

sys.path.insert(0, "..")
from twittertools.geocode import (
    load_friends_data, load_city_data, load_state_data,
    geocode_simplemaps, lookup_index, test,
)

## Geocode with SimpleMaps

In [4]:
data = load_friends_data()
len(data)

1884

In [5]:
# s = pd.Series(data)
# data = list(s.sample(n=1000))
# len(data)

In [6]:
data_coded = []
for screen_name, location in tqdm(data):
    res = geocode_simplemaps(location)
    city, country = lookup_index(res)  # could return (None, None)
    data_coded.append(
        dict(screen_name=screen_name, location=location, city=city, country=country)
    )
res_df = pd.DataFrame(data_coded)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1884/1884 [00:11<00:00, 157.37it/s]

### Compute Scores

In [7]:
SCORES = []

numerator = len(res_df[~res_df['country'].isna()])
denomiator = len(res_df['country'])

# without nas
res_df_dropna = res_df[res_df['location'] != ""]
numerator2 = len(res_df_dropna[~res_df_dropna['country'].isna()])
denomiator2 = len(res_df_dropna['country'])

print("Including empty:")
print(f"Success: {numerator}/{denomiator} = " + "{:.2%}".format(numerator / denomiator))

print("\nExcluding empty:")
print(f"Success: {numerator2}/{denomiator2} = " + "{:.2%}".format(numerator2 / denomiator2))

SCORES.append(numerator2 / denomiator2)

Including empty:
Success: 922/1884 = 48.94%

Excluding empty:
Success: 922/1482 = 62.21%

In [7]:
# df_cities[df_cities['city'].str.contains("st.", regex=False)]

In [12]:
missed = res_df_dropna[res_df_dropna['country'].isna()]
len(missed)

560

In [13]:
missed.sample(30)

          screen_name                                location  city country
94         eliquorice                              Beach City  None    None
1112          jtauber              Esperance / Perth / Boston  None    None
308     suneelgokhale                    United Arab Emirates  None    None
393     NASAPersevere                     Jezero Crater, Mars  None    None
301      EndowCapital                          Europe, Africa  None    None
1145  akronisticlotor                              On the 72R  None    None
1843    gutenberg_org            University of North Carolina  None    None
580           LeonYin                                     www  None    None
763       warmshowers                               worldwide  None    None
228      running_tide                        Casco Bay, Maine  None    None
1763       Ettema_lab                              Wageningen  None    None
281   southpoleglobal                                  Global  None    None
362    VanessaBBastos                   St Andrews,  Scotland  None    None
490      maciej_jerzy                 Leyden, The Netherlands  None    None
1766          firefox                      All over the world  None    None
106     pythonwebconf                              Everywhere  None    None
748       cool_effect                           Greenbrae, CA  None    None
1737    ShapeShift_io                                   ‚ú®üåéüåçüåè‚ú®  None    None
255    DmitryTrofimov                         M√ºnchen, Bayern  None    None
140           rastrau                      Switzerland, ZH√óSG  None    None
1819      wetherallm1                          Saint Paul, MN  None    None
1441      SenatorMeow              Flavortown Autonomous Zone  None    None
1382     ProfBrianCox           The Earth, with everyone else  None    None
313          dsaezgil                         California, USA  None    None
1009           glasnt                            Eora Country  None    None
1741      iamdevloper                                      UK  None    None
1557         ServoDev                               Worldwide  None    None
927        deep_beige                    Joe Don Baker Museum  None    None
489   VikkiHouldenPhD                  CSAP, Geography, Leeds  None    None
722       NewUrbanism  District of Columbia, USA, & worldwide  None    None

In [110]:
# with pd.option_context('display.max_rows', None):
#     display(missed)

In [111]:
# with pd.option_context('display.max_rows', None):
#     display(res_df_dropna[~res_df_dropna['country'].isna()])

## GeoCoding with Web

In [1]:
from geopy.geocoders import Nominatim

In [ ]:
geolocator = Nominatim(user_agent="twitter-tools")

In [ ]:
df = pd.DataFrame(data_coded)

In [ ]:
def get_country(loc):
    try:
        return loc.split(',')[-1].strip()
    except:
        return None

In [ ]:
s = df['location_address']
df['country'] = s.apply(get_country)

In [ ]:
df.to_csv('data.csv')

In [ ]:
geocoded = {}
for item in data_coded:
    geocoded[item['location_raw']] = dict(
        loc_address=item['location_address'],
        loc_latitude=item['location_latitude'],
        loc_longitude=item['location_longitude']
    )

In [ ]:
with open('geo_cache.json', 'w') as f:
    json.dump(geocoded, f)

In [ ]:
def geocode(loc):
    location = geolocator.geocode(loc)
    if location:
        return dict(
            loc_address=location.address,
            loc_latitude=location.latitude,
            loc_longitude=location.longitude
        )
    return dict(
            loc_address=None,
            loc_latitude=None,
            loc_longitude=None
        )

In [ ]:
df_cities = pd.read_csv('../data/simplemaps/worldcities.csv')

In [ ]:
data_coded = []
for screen_name, location in data:
    country = geocode_simplemaps(location)
    data_coded.append(dict(
        screen_name=screen_name,
        location=location,
        country=country
    ))

In [ ]:
pd.DataFrame(data_coded).country.unique()

In [ ]:
df['location'].apply(geocode_simplemaps)

In [ ]:
data_coded = []
for screen_name, loc in tqdm(data):
    entry = dict(screen_name=screen_name, location_raw=loc)
    # check cache
    if loc in geocoded:
        geo_vals = geocoded[loc]
    else:
        geo_vals = geocode(loc)
    data_coded.append({**entry, **geo_vals})

### GeoJSON

In [14]:
with open('../data/worldgeo.json') as f:
    geojson = json.load(f)

In [18]:
# geojson["features"][0]

{'type': 'Feature',
 'properties': {'scalerank': 1,
  'featurecla': 'Admin-0 country',
  'labelrank': 6,
  'sovereignt': 'Belize',
  'sov_a3': 'BLZ',
  'adm0_dif': 0,
  'level': 2,
  'type': 'Sovereign country',
  'admin': 'Belize',
  'adm0_a3': 'BLZ',
  'geou_dif': 0,
  'geounit': 'Belize',
  'gu_a3': 'BLZ',
  'su_dif': 0,
  'subunit': 'Belize',
  'su_a3': 'BLZ',
  'brk_diff': 0,
  'name': 'Belize',
  'name_long': 'Belize',
  'brk_a3': 'BLZ',
  'brk_name': 'Belize',
  'brk_group': None,
  'abbrev': 'Belize',
  'postal': 'BZ',
  'formal_en': 'Belize',
  'formal_fr': None,
  'note_adm0': None,
  'note_brk': None,
  'name_sort': 'Belize',
  'name_alt': None,
  'mapcolor7': 1,
  'mapcolor8': 4,
  'mapcolor9': 5,
  'mapcolor13': 7,
  'pop_est': 307899,
  'gdp_md_est': 2536,
  'pop_year': -99,
  'lastcensus': 2010,
  'gdp_year': -99,
  'economy': '6. Developing region',
  'income_grp': '4. Lower middle income',
  'wikipedia': -99,
  'fips_10': None,
  'iso_a2': 'BZ',
  'iso_a3': 'BLZ',
  'iso_n3': '084',
  'un_a3': '084',
  'wb_a2': 'BZ',
  'wb_a3': 'BLZ',
  'woe_id': -99,
  'adm0_a3_is': 'BLZ',
  'adm0_a3_us': 'BLZ',
  'adm0_a3_un': -99,
  'adm0_a3_wb': -99,
  'continent': 'North America',
  'region_un': 'Americas',
  'subregion': 'Central America',
  'region_wb': 'Latin America & Caribbean',
  'name_len': 6,
  'long_len': 6,
  'abbrev_len': 6,
  'tiny': -99,
  'homepart': 1,
  'filename': 'BLZ.geojson'},
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-89.14308041050332, 17.80831899664932],
    [-89.15090938999553, 17.95546763760042],
    [-89.02985734735182, 18.001511338772488],
    [-88.84834387892661, 17.883198147040233],
    [-88.49012285027935, 18.486830552641603],
    [-88.3000310940937, 18.4999822046599],
    [-88.29633622918482, 18.35327281338327],
    [-88.10681291375437, 18.348673610909287],
    [-88.1234785631685, 18.07667470954101],
    [-88.2853549873228, 17.644142971258034],
    [-88.19786678745265, 17.489475409408456],
    [-88.30264075392444, 17.131693630435663],
    [-88.23951799187991, 17.036066392479555],
    [-88.35542822951057, 16.530774237529627],
    [-88.55182451043585, 16.265467434143147],
    [-88.73243364129594, 16.233634751851355],
    [-88.93061275913527, 15.887273464415074],
    [-89.22912167026928, 15.88693756760517],
    [-89.15080603713095, 17.015576687075836],
    [-89.14308041050332, 17.80831899664932]]]}}

In [11]:
[x['properties']['sovereignt'] for x in geojson['features']]

['Belize',
 'Canada',
 'The Bahamas',
 'Cuba',
 'Dominican Republic',
 'Denmark',
 'Guatemala',
 'Haiti',
 'Costa Rica',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Jamaica',
 'United States of America',
 'United States of America',
 'El Salvador',
 'Trinidad and Tobago',
 'Argentina',
 'Bolivia',
 'Chile',
 'Guyana',
 'Colombia',
 'Brazil',
 'Peru',
 'Ecuador',
 'Afghanistan',
 'United Arab Emirates',
 'Armenia',
 'Azerbaijan',
 'Bangladesh',
 'United Kingdom',
 'Venezuela',
 'Suriname',
 'Brunei',
 'Bhutan',
 'China',
 'Northern Cyprus',
 'Cyprus',
 'Paraguay',
 'Uruguay',
 'Georgia',
 'Indonesia',
 'India',
 'Iran',
 'Iraq',
 'Israel',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kyrgyzstan',
 'Cambodia',
 'South Korea',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Sri Lanka',
 'Myanmar',
 'Mongolia',
 'Malaysia',
 'Nepal',
 'Oman',
 'Pakistan',
 'Philippines',
 'North Korea',
 'Saudi Arabia',
 'Israel',
 'Qatar',
 'Syria',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'East Timor',
 'Turkey',
 'Taiwan',
 'Uzbekistan',
 'Vietnam',
 'Yemen',
 'Angola',
 'Burundi',
 'Burkina Faso',
 'Botswana',
 'Central African Republic',
 'Benin',
 'Ivory Coast',
 'Cameroon',
 'Republic of Congo',
 'Democratic Republic of the Congo',
 'Algeria',
 'Djibouti',
 'Egypt',
 'Guinea',
 'Ethiopia',
 'Guinea Bissau',
 'Gambia',
 'Ghana',
 'Kenya',
 'Eritrea',
 'Libya',
 'Gabon',
 'Liberia',
 'Lesotho',
 'Equatorial Guinea',
 'Morocco',
 'Mozambique',
 'Mali',
 'Mauritania',
 'Malawi',
 'Namibia',
 'Niger',
 'Rwanda',
 'Nigeria',
 'Madagascar',
 'South Sudan',
 'Sierra Leone',
 'Western Sahara',
 'Sudan',
 'Senegal',
 'Somaliland',
 'Somalia',
 'Chad',
 'Uganda',
 'Albania',
 'Togo',
 'South Africa',
 'Swaziland',
 'Zambia',
 'United Republic of Tanzania',
 'Austria',
 'Belgium',
 'Bulgaria',
 'Bosnia and Herzegovina',
 'Tunisia',
 'Belarus',
 'Zimbabwe',
 'Switzerland',
 'Czech Republic',
 'Denmark',
 'Germany',
 'Spain',
 'Estonia',
 'Finland',
 'France',
 'United Kingdom',
 'Greece',
 'Croatia',
 'Hungary',
 'Ireland',
 'Iceland',
 'Italy',
 'Kosovo',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Moldova',
 'Macedonia',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Republic of Serbia',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Ukraine',
 'Australia',
 'Fiji',
 'France',
 'New Zealand',
 'Papua New Guinea',
 'Solomon Islands',
 'Vanuatu']